[submodule "HaselCommon"]
	path = HaselCommon
	url = https://github.com/Haselnussbomber/HaselCommon
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/ottercorp/FFXIVClientStructs
